<div class="container">
    <nav>
      <ul>
        <li><strong i18n>Angular International</strong></li >
      </ul>
    </nav>

      
  <header>
    <div>
      <h1 i18n>Localize your application to reach more customers</h1>
      <a i18n href="https://angular.io/" target="_blank" > Get Started </a>
    </div>
    <img class="logo" src="../assets/Group 385.svg" />
  </header>


  <main>
    <section>
      <img class="image" src="../assets/Coding.svg"/>
      <div class="separator"></div>
      <div>
        <h2 i18n>Develop Across All Platforms</h2>
        <p i18n>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
      </div>  
    </section>
    
  
  
    <section>
      <img class="image" src="../assets/Design.svg" />
      <div class="separator"></div>
      <div>
        <h2 i18n>Speed And Performance</h2>
        <p i18n>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>
        <p i18n>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
      </div>  
     
    </section>
    
    <div class="banner2"></div>
    
    <section>
      <img class="image" src="../assets/Delivery.svg" />
      <div class="separator"></div>
      <div>
        <h2 i18n>Incredible Tooling</h2>
        <p i18n>Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
      </div>  
   
    </section>
  
    <section>
      <img class="image" src="../assets/Winner.svg" />
      <div class="separator"></div>
      <div>
        <h2 i18n>Loved By Millions</h2>
        <p i18n>From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
        </p>
      </div>  
    
    </section>
  
  </main>
  
  


</div>